body
    font-family: "roboto"
    background-color: $color-rojo
    padding-top: 4rem

h1
    font-size: 1.3rem
    text-align: center
    font-weight: 500
    margin: 0

h2
    font-size: 1.2rem
    text-align: center
    font-weight: 500
    color: $color-rojo

h3
    font-size: 1.2rem
    text-align: center
    font-weight: 500
    color: $color-blanco
    padding: 0
    margin: 0
    padding-top: .7rem

h4
    font-size: 1.2rem
    text-align: center
    font-weight: 500
    color: $color-negro
    padding: 0
    margin: 0

hr
    width: 12rem
    border: 1.3px solid $color-rojo
    background-color: $color-rojo
    margin: 0 auto
    margin-top: .2rem

p
    font-size: 1rem

.btn
    text-transform: uppercase
    font-weight: 500
    border: 0
    border-radius: 0
    margin: .5rem
    padding: .2rem 1.5rem
    &:focus
        box-shadow: initial
        outline: 0

header
    box-shadow: 0px 5px 15px rgba($color-negro, .3)
    position: fixed
    top: 0
    left: 0
    right: 0
    .nav
        background: $color-blanco
        align-items: center
        &--atras
            padding-top: 0.7rem
            width: 4.5rem
        &--logo
            width: 13rem
        li:nth-child(1), li:nth-child(3)
            width: 25%
        li:nth-child(2)
            width: 50px