body
    font-family: 'roboto'
    background-color: $color-rojo
    padding-top: 4rem

.nav
    position: fixed
    left: 0
    right: 0
    top: 0
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3)
    background-color: $color-blanco
    .nav--atras
        width: 4.5rem
        padding-top: .7rem 
    .nav--logo
        width: 12rem
    li:nth-child(1), li:nth-child(3)
        width: 25%
    li:nth-child(2)
        width: 50%