.page--mostrar-horarios
    .horarios--texto
        text-align: center
        padding: 1rem 0
        h1
            font-size: 1.35rem
            color: $color-blanco
            font-weight: 500
            margin: 0
    .horarios--cuadro
        height: 520px
        margin: 0 1rem
        background-color: $color-blanco