.page--mapas
    text-align: center
    height: calc(100vh - 4rem)
    section.mapas--texto
        h1
            color: $color-blanco
            padding-top: 1rem
        hr
            border-color: $color-blanco
            background-color: $color-blanco
    section.mapas--boton
        .btn
            width: 150px
            height: 50px
            margin-top: 1rem
            border-radius: 0
            
    section.mapas--mostrado
        #mostrado--ubicacion, #mostrado--lineas
            width: 90%
            height: 80%
            margin: 0 auto
            display: block